/* CSS Specific to VOTE page */

.choices {
  margin-bottom: 20px;
}

table {
  margin-top: 40px;
}

.vote-page fieldset {
  font-family: Lato,Arial,sans-serif;
}


@media only screen and (max-width: 900px) {
  .vote-page #right-side {
    margin-top: 50px;
    width: 100%;
  }

  .vote-page #left-side h1 {
    margin-top: 0px;
  }

  .vote-page table {
    border-top: 0px solid black;
  }
}

/*@media only screen and (max-width: 500px) {

}*/