#wrapper {
  min-height: 800px;
}

.body-text {
    max-width: 732px;
    padding: 50px 100px;
}

.fame-text {
  display: block;
  font-family: 'Great Vibes', cursive;
  font-size: 64px;
  color: green;
  text-align: center;
}

@media only screen and (max-width: 600px) {

  .fame-text {
    font-size: 44px;
  }

  .body-text {
    max-width: 732px;
    padding: 30px 20px;
  }

}