	/*CSS STYLING*/
	.container {
		border-radius: 5px;
	    box-shadow: 0 0 15px black;
	    display: block;
	    margin-left: auto;
	    margin-right: auto;
	    margin-top: 100px;
	    border: 1px solid grey;
	    clear: both;
	}
	.row {
		margin: 0;
	}
	h2 {
		font-size: 1.5rem;
		margin-top: 20px;
		margin-bottom: 20px;
	}
	textarea {
		margin-left: 0px;
	}
	.amount {
		width: 30%;
		height: 40px;
		margin: 4px;
	}
	span {
		margin-right: 15px;
		margin-bottom: 5px;
	}
	#number{
		font-size: 1rem;
	}
	#donateNow {
		margin-bottom: 20px;
	}
	#otherAmount {
		width: 52%;
		height: 40px;
		margin-top: 3px;
		border-radius: 0px;
		border-left: none;
		font-size: 1.2rem;
	}
	.symbol {
		height: 40px;
		width: 50px;
		margin-top: 3px;
		margin-left: 3px;
	}
	.payment {
		width: 45%;
		margin-right: 25px;
		height: 100px;
		background-color: lightblue;
		display: block;
		overflow: hidden;
		border-radius: 5px;
	}
	#creditCards {
		width: 150px;
		height: 30px;
		margin-left: 35px;
	}
	#paypal {
		width: 80px;
		height: 60px;
		margin-top: 0px;
		margin-left: 65px;
	}
	#donateButtonText {
		margin-left: 65px;
		margin-right: 50px;
		color: white;
		font-weight: bolder;
		position: relative;
		bottom: 10px;
	}
	#donateButtonText2 {
		margin-left: 65px;
		margin-right: 50px;
		color: white;
		font-weight: bolder;
		position: relative;
		top: 5px;
	}
	#wrapper {
		width: 1200px;
		margin-bottom: 30px;
	}
	#paymentInfo {
		font-size: .75rem;
		margin-right: 20px;
		line-height: initial;
		margin-bottom: 20px;

	}
	.item_text_desc {
		margin-bottom: 50px;
		margin-top: 50px;
		margin-left: 30px;
		line-height: 1.5;
		font-size: 1.5rem;
		text-align: left;
	}
	#line {
		border-right: solid;
		border-width: 2px;
		border-color: grey;
		margin-top: 75px;
		margin-bottom: 75px;
		padding-left: 30px;
	}
	#filler {
		height: 150px;
	}
	.selected {
		background-color: lightblue;
	}
	#minimumMobile {
		display: none;
	}
	#minimum {
		display: block;
		margin-top: 0;
		margin-left: 190px;
		margin-top: 15px;
		font-size: 1rem;
	}
	#mobileHeader {
		display: none;
	}
	input {
		margin-left: 5px;
	}
	.radial {
		font-size: 1rem;
	}
	/*@1200px*/
	@media screen and (max-width: 1200px) {
		#otherAmount {
			width: 50%;
		}
		.payment {
			margin-right: 20px;
		}
		#donateButtonText2 {
			margin-left: 30%;
		}
		#donateButtonText {
			margin-left: 30%;
		}
		#creditCards {
			margin-left: 6%;
		}
		#paypal {
			margin-left: 60%;
		}
	}
	/*MOBILE*/
	@media screen and (max-width: 400px) {
		.container {
			margin-top: 0px;
			box-shadow: none;
			border: none;
		}
		#wrapper {
			width: 100%;
		}
		#minimum {
			display: none;
		}
		#minimumMobile {
			display: block;
			margin-top: 0px;
			margin-left: 130px;
			color: grey;
		}
		#line {
			border-color: white;
			margin-top: 25px;
		}
		.symbol {
			width: 25px;
		}
		#otherAmount {
			width: 150px;
		}
		.payment {
			width: 45%;
			margin-right: 5px;
			margin-bottom: 20px;
		}
		#filler {
			display: none;
		}
		.row {
			margin-left: 0px;
		}
		.item_text_desc {
			margin-top: 0px;
			margin-right: 50px;
			font-size: 1.25rem;
			margin-bottom: 0px;
			padding-top: 20px;
			padding-bottom: 20px;
		}
		#donateButtonText {
			margin-left: 15px;
		}
		#creditCards {
			width: 100px;
			margin-left: 5px;
		}
		#donateButtonText2 {
			margin-left:15px;
		}
		#paypal {
			margin-left: 15px;
		}
		#mobileHeader {
			display: block;
			background-color: 	#f0f0f5;
			/*border: 1px solid black;*/
			border-left: none;
		}
		#mobileNoShow {
			display: none;
		}
		input {
			margin-left: 5px;
		}
		#footer {
			margin: 0px;
		}
		span {
			margin-left: 10px;
		}
		#footerSpan {
			margin: 0px;
		}

	}